html,
html *,
body,
body * {
  pointer-events: none;
}

body {
  height: 100%;
  top: 0;
  left: 0;
  font-family: "Jetbrains Mono";
  font-size: 11dp;
  font-weight: 300;
  width: 420dp;
  background-color: rgba(30, 30, 30, 250);
  transition: all 0.25s cubic-out;
  color: white;
  padding: 1rem;
  z-index: 26;
}

.align .column:nth-child(2) {
  text-align: right;
}

.pass-row {
  pointer-events: auto;
  cursor: pointer;
  padding: 2dp 4dp;
  /* margin-bottom: 1dp; */
  border-radius: 2dp;
  transition: background-color 0.1s;
}

.pass-row * {
  pointer-events: auto;
}

.pass-row:hover {
  background-color: rgba(80, 80, 80, 255) !important;
}

.pass-row.selected {
  background-color: rgba(40, 70, 130, 255) !important;
}

#detail-panel {
  pointer-events: auto;
}
