body {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 300;
  letter-spacing: 0.05em;
}

.stage {
  margin-bottom: 2rem;
}

.hint {
  font-size: 1.2rem;
  opacity: 0.5;
}
