body {
  z-index: 3;
  padding: 0;
  display: flex;
  align-items: flex-end;
  font-family: "Sometype Mono";
  font-size: 12dp;
  background-color: rgba(0, 0, 0, 120);
  /* bottom: 0; */
  /* left: 0; */
}

body #circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100dp;
}
